@model Mas.SalaryEmployee.Web.Models.SalaryEmployeeViewModel

@{
    ViewData["Title"] = "Employee";
}

<form asp-controller="Employee" asp-action="Index" method="get">
    <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder=" Employee Id" aria-label=" Employee Id" aria-describedby="basic-addon2" asp-for="SearchString" />
        <div class="input-group-append">
            <input class="btn btn-outline-secondary" type="submit" value="Get Employees" />
        </div>
    </div>
</form>

<table id="dtSort" class="table table-striped table-bordered table-sm" cellspacing="0" width="100%">
        <thead>
        <tr>
            <th class="th-sm">
                @Html.DisplayName("Id")
            </th>
            <th class="th-sm">
                @Html.DisplayName("Employee")
            </th>
            <th class="th-sm">
                @Html.DisplayName("Role")
            </th>
            <th class="th-sm">
                @Html.DisplayName("Contract Type")
            </th>
            <th class="th-sm">
                @Html.DisplayName("Annual Salary")
            </th>
        </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Employees)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RoleName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ContractTypeName)
                </td>
                <td>
                    @String.Format("{0:c}", item.AnnualSalary)
                </td>
            </tr>
            }
        </tbody>
    </table>
